body {
    font-family: "Noto Sans Khmer", sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
  }

  /* Row Styles */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .image-box:hover {
    transform: scale(1.05);
  }

  .learning-image {
    width: 200px;
    height: auto;
    cursor: pointer;
  }

  .drop-box {
    width: 150px;
    height: 50px;
    border: 2px dashed #333;
    border-radius: 8px;
    background-color: #fff8f8;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .draggable {
    width: 120px;
    height: 50px;
    background-color: #e1f5fe;
    border: 1px solid #81d4fa;
    border-radius: 8px;
    cursor: grab;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

#learning-result {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
button {
    font-family: "Noto Sans Khmer", sans-serif;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color:rgba(239, 20, 199, 0.65);
    color: white;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s ease;
}
button:hover{
    color: black;
}

  