<!DOCTYPE html>
<html lang="km">
<head>
  <meta charset="UTF-8">
  <title>Khmer Word Builder</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>🧩 រៀនរៀបពាក្យ​​​ 🧩</h1>

    <div class="game-card">
        <img src="{{ word.img_path }}" alt="Word Image" class="word-image" onclick="playAudio()">
      <audio id="audio" src="{{ word.audio_path }}"></audio>
    </div>

    <div class="drop-zone" id="drop-zone">
      <div class="drop-box" data-part="top" style="grid-area: top;"></div>
      <div class="drop-box" data-part="left" style="grid-area: left;"></div>
      <div class="drop-box" data-part="main" style="grid-area: main;"></div>
      <div class="drop-box" data-part="right" style="grid-area: right;"></div>
      <div class="drop-box" data-part="right_right" style="grid-area: right2;"></div>
      <div class="drop-box" data-part="bottom" style="grid-area: bottom;"></div>
    </div>

    <div class="drag-area" id="drag-area">
      {% for letter in word.shuffled %}
        <div class="draggable" draggable="true">{{ letter }}</div>
      {% endfor %}
    </div>

    <button onclick="checkAnswer()">✅ Check</button>
    <button onclick="loadNewWord()">🔄 New Word</button>

    <div id="result"></div>
  </div>

  <script>
    const correctLength = {{ word.components|length }};
  </script>
  <script src="/static/interactive.js"></script>
</body>
</html> 

