<!DOCTYPE html>
<html lang="km">
<head>
  <meta charset="UTF-8">
  <title>Word Learning</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
  <div class="container">
    <button onclick="location.href='/'">⬅ ត្រឡប់ក្រោយ</button>
    <h1>📚 រៀនពាក្យ</h1>

    <!-- First Row: Images -->
    <div id="image-row" class="row" ></div>

    <!-- Result message -->
    <div id="learning-result"></div>

    <!-- Second Row: Drop Boxes -->
    <div id="drop-row" class="row"></div>

    <!-- Third Row: Draggable Items -->
    <div id="drag-row" class="row"></div>

    <!-- Action buttons -->
    <button onclick="checkLearningAnswer()">✅ ពិនិត្យ</button>
  </div>
  <script src="/static/mode_2.js"></script>
</body>
</html>
